<!DOCTYPE html>
<html>
<head>
  <title>ConnectRails</title>
  <%= stylesheet_link_tag    "openstax/connect/application", :media => "all" %>
  <%= javascript_include_tag "openstax/connect/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
