<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%
   # Clients of this partial must supply the following variables:
   #   action_search_path  
%>

<div id="action-search-errors"></div>

<%= lev_form_for :search, 
                 url: action_search_path, 
                 html: {id: 'action-search-form'},
                 remote: true do |f| %>

  Search for 
  <%= f.text_field :search_terms, style: 'width:300px' %> 
  in         
  <%= f.select :search_type, options_for_select(['Any', 'Name', 'Username']) %>

  <%= submit_tag 'Search' %>

<% end %>

<div id="action-search-results-list"></div>