<div id='search-results-count'>
  <%= pluralize(@handler_result.total_count, 'user') %> found.
</div>

<div id='search-results-list'>
  <%= osu.action_list(
        records: @handler_result.items,
        list: {
          headings: ['UID', 'Username (click to sign in as)', 'Name'],
          widths: ['20%', '40%', '40%'],
          data_procs: [
            lambda { |account| account.openstax_uid },
            lambda { |account|
              link_to account.username, become_dev_account_path(
                                          account.openstax_uid
                                        ), method: :post
            },
            lambda { |account| account.name || '---' }
          ]
        }
      ) %>
</div>
