<% total_count = @handler_result.outputs[:total_count]
   accounts = @handler_result.outputs[:items] %>

<div id='search-results-count'>
  <%= pluralize(total_count, 'user') %> found.
</div>

<div id='search-results-list'>
  <%= osu.action_list(
        records: accounts,
        list: {
          headings: ['UID', 'Username (click to sign in as)', 'Name'],
          widths: ['20%', '40%', '40%'],
          data_procs: [
            ->(account) { account.openstax_uid },
            ->(account) {
              link_to account.username, become_dev_account_path(
                                          account.openstax_uid
                                        ), method: :post
            },
            ->(account) { account.name || '---' }
          ]
        }
      ) %>
</div>
