<% total_count = @handler_result.outputs[:total_count]
   accounts = @handler_result.outputs[:items] %>

<div id='search-results-count'>
  <%= pluralize(total_count, 'user') %> found.
</div>

<div id='search-results-list'>
  <%= osu.action_list(
        records: accounts,
        list: {
          headings: ['Username (click to sign in as)', 'Title', 'Name'],
          widths: ['40%', '20%', '40%'],
          data_procs: [
            lambda { |account|
              link_to account.username,
                      with_interceptor { become_dev_account_path(account.openstax_uid) },
                      method: :post
            },
            lambda { |account| account.title || '---' },
            lambda { |account| account.name || '---' }
          ]
        }
      ) %>
</div>
