<div class="openstax-accounts development-login">

  <% handler_errors.each do |error| %>
    <%= error.translate %>
  <% end %>

  <h4>Development Login</h4>

  <p>You need to login, but we're not connected to the Accounts server.
  Search for a user below and click the sign in link next to him or her.</p>

  <%= with_interceptor {
        render :partial => 'openstax/accounts/shared/accounts/index',
               :locals => { :search_action_path => openstax_accounts.dev_accounts_path,
                            :remote => true, :method => :get } } %>

  <br>

  <div id="search-results"></div>
</div>
